<div class="navbar-main">

  <nav class="navbar navbar-expand-lg fixed-top navbar-shrink">
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <img src="assets/img/anarish-logo.svg" alt="Anarish Innovations" class="img-fluid" />
      </a>
      <button (click)="isDropdownShow = true" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         Menu<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a (click)="isDropdownShow = !isDropdownShow" class="nav-link dropdown-toggle nav-content-black" [ngClass]='' href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="20,0">
              Portfolio
            </a>
            <ul class="dropdown-menu " [class.show]="isDropdownShow">
              <li><a class="dropdown-item" href="/portfolio/1">Customer Relationship Management System</a></li>
              <li><a class="dropdown-item" href="/portfolio/2">HR Management System</a></li>
              <li><a class="dropdown-item" href="/portfolio/3">Website Design and Development</a></li>
              <li><a class="dropdown-item" href="/portfolio/4">Learning Management System</a></li>
              <li><a class="dropdown-item" href="/portfolio/5">Mobile Solutions</a></li>
              <li><a class="dropdown-item" href="/portfolio/6">Digital Marketing</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-content-black" [ngClass]='' href="#">About Us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link nav-content-black" [ngClass]='' href="/about-us">About Us</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link nav-content-black" [ngClass]='' href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>