<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3 class="conversation">Let's Talk</h3>
                <p class="email"> 
                    <a href="mailto:marketing@anarish.com">marketing&#64;anarish.com </a>
                </p>
            </div>

            <div class="col-12 col-lg-8 d-flex justify-content-lg-end mt-3 mt-lg-0">
               <div class="d-flex flex-column me-5">
                <a class="mb-3" href="">Home</a>
                <a href="/portfolio/1">Portfolio</a>
               </div>
                <div class="d-flex flex-column">
               <!-- <a class="mb-3" href="">Work</a>  -->
                    <a class="mb-3" href="">About Us</a>
                    <a href="">Contact Us</a>
               </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                <p class="address mb-2">Sector 3, Faridabad, Haryana</p>
                <p class="address">+91-9899844180</p>
            </div>
            <div class="col-12 col-lg-8 d-flex justify-content-lg-end">
                <img src="assets/img/instagram.svg" alt="" class="img-fluid">
                <img src="assets/img/youtube.svg" alt="" class="img-fluid">
                <img src="assets/img/linkedin.svg" alt="" class="img-fluid">
                <img src="assets/img/x.svg" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row mt-3">
            <!-- <div class="col-12 col-lg-4">
                <p class="condition mb-0">TERMS & CONDITIONS / PRIVACY POLICY</p>
            </div> -->
            <div class="col-12 d-flex justify-content-lg-end">
               <p class="condition mb-0">COPYRIGHT © ANARISH INNOVATIONS 2024-2025</p>
            </div>
        </div>
    </div>
</footer>