<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3 class="conversation">Let’s Talk</h3>
                <p class="email">marketinganarish.com</p>
            </div>

            <div class="col-12 col-lg-8 d-flex justify-content-end">
               <div class="d-flex flex-column me-5">
                <a class="mb-3" href="">Home</a>
                <a href="/portfolio/1">Portfolio</a>
               </div>
                <div class="d-flex flex-column">
               <!-- <a class="mb-3" href="">Work</a>  -->
                    <a class="mb-3" href="">About Us</a>
                    <a href="">Contact Us</a>
               </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                <p class="address mb-2">Sector 3, Faridabad, Haryana</p>
                <p class="address">+91-9899844180</p>
            </div>
            <div class="col-12 col-lg-8 d-flex justify-content-end">
                <img src="assets/img/instagram.svg" alt="">
                <img src="assets/img/youtube.svg" alt="">
                <img src="assets/img/linkedin.svg" alt="">
                <img src="assets/img/x.svg" alt="">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-lg-4">
                <p class="condition mb-0">TERMS & CONDITIONS / PRIVACY POLICY</p>
            </div>
            <div class="col-12 col-lg-8 d-flex justify-content-end">
               <p class="condition mb-0">COPYRIGHT © ANARISH INNOVATIONS 2023-2024</p>
            </div>
        </div>
    </div>
</footer>