<main class="theme-color-bg-light-yellow">
    <section class="masthead theme-color-bg-yellow">
        <div class="container">
            <div class="row row-y-gap">
                <div class="col-12 col-lg-6 col-xxl-5 d-flex align-items-center pe-lg-5">
                    <div class="pe-lg-3">
                        <p class="heading">
                            Website Design and Development
                        </p>
                        <h1 class="mt-3">
                            Crafting Website Solutions for Your Unique Brand Presence
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish me-3">
                                development
                            </span>
                            <span class="badge rounded-pill badge-anarish me-3">
                                WordPress
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                HTML & CSS
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-7 position-relative mt-3 mt-lg-0">
                    <div class="img-wrapper">
                        <video src="../../assets/img/portfolio/web-dev/dashboard.mp4" class="img-fluid" autoplay muted
                            loop></video>
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-xl-block " width="977" height="750" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg" transform="rotate(180)">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>

    <section class="empowering features">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12 col-lg-6 order-xl-1">
                    <div class="">
                        <img src="../../assets/img/portfolio/web-dev/empowering.png" class="img-fluid" />
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-2 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2>
                            Empowering Your Digital Journey
                        </h2>
                        <p class="description">
                            Our approach imbued the website with an aura of elegance and sophistication, seamlessly
                            integrating their products into a compelling visual narrative. By optimizing the cart and
                            checkout flow to enhance conversion rates, we have completely transformed the customer
                            journey. This WordPress website development project for an interior design store exemplifies
                            our commitment to creating a refined and efficient online shopping experience. </p>
                        <ul class="list-unstyled">
                            <li>
                                Fast Loading Times </li>
                            <li>
                                User-Friendly Navigation </li>
                            <li>
                                Responsive Design </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="features">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card b-0 theme-color-bg-light-yellow mb-3">
                        <div class="card-body p-0">
                            <h2 class="card-title c-heading  text-center"> Powerful features to supercharge your
                                productivity</h2>
                            <ul class="nav nav-tabs text-center d-flex justify-content-center" id="myTab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="onboard-tab" data-bs-toggle="tab"
                                        data-bs-target="#onboard" type="button" role="tab" aria-controls="onboard"
                                        aria-selected="false">Brand Essence</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="review-tab" data-bs-toggle="tab"
                                        data-bs-target="#review" type="button" role="tab" aria-controls="review"
                                        aria-selected="true">Interactive Elements</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="integrate-tab" data-bs-toggle="tab"
                                        data-bs-target="#integrate" type="button" role="tab" aria-controls="integrate"
                                        aria-selected="false">Accessibility & Internationalization</button>
                                </li>
                            </ul>


                            <div class="tab-content mt-3" id="myTabContent">
                                <div class="tab-pane fade" id="onboard" role="tabpanel" aria-labelledby="onboard-tab">
                                    <div class="section-content">

                                        <div class="row row-reduce-margin">
                                            <!-- card-a 
                                            <div class="col-12  col-md-6 col-xl-4 d-flex">
                                                <div class="card-1">

                                                    <div class="feature-heading">Capturing the Brand Essence</div>
                                                    <div class="feature-desc">
                                                        Maintaining our brand essence in website development is key to
                                                        creating a cohesive and memorable user experience. We make sure
                                                        to use consistent visual elements like our logo, colors, and
                                                        typography that truly reflect who we are. Plus, we ensure the
                                                        website’s tone, messaging, and overall design align with our
                                                        core values and personality. By doing this, we connect better
                                                        with our audience, reinforce brand recognition, and build trust
                                                        and loyalty.
                                                    </div>



                                                </div>
                                            </div>
                                            <!-- card b
                                            <div class="col-12 col-md-6 col-xl-8 d-flex">
                                                <div class="card-2">

                                                    <div class="feature-img">
                                                        <img src="../../assets/img/hrms1.png" alt=""
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="review" role="tabpanel"
                                    aria-labelledby="review-tab">
                                    <div class="section-content">

                                        <div class="row row-reduce-margin">
                                            <!-- card-a 
                                            <div class="col-12 col-md-6 col-xl-4 d-flex">
                                                <div class="card-1">

                                                    <div class="feature-heading">It’s All in the Details</div>
                                                    <div class="feature-desc">
                                                        We introduce Clear Call-to-Actions (CTAs) which guide users to
                                                        take actions like signing up or making a purchase with
                                                        strategically placed buttons and links. Features such as
                                                        chatbots, interactive forms, and polls engage users, provide
                                                        real-time assistance, and gather feedback, enhancing the user
                                                        experience and driving conversions.
                                                    </div>



                                                </div>
                                            </div>
                                            <!-- card b 
                                            <div class="col-12 col-md-6 col-xl-8 d-flex">
                                                <div class="card-2">

                                                    <div class="feature-img">
                                                        <img src="../../assets/img/hrms1.png" alt=""
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="integrate" role="tabpanel"
                                    aria-labelledby="integrate-tab">
                                    <div class="section-content">

                                        <div class="row row-reduce-margin">
                                            <!-- card-a 
                                            <div class="col-12 col-md-6 col-xl-4 d-flex">
                                                <div class="card-1">

                                                    <div class="feature-heading">Accessible compliant & Multilingual
                                                        Compatibility</div>
                                                    <div class="feature-desc">
                                                        Accessibility features make sure everyone, including people with
                                                        disabilities, can use the website easily by following guidelines
                                                        like WCAG. Plus, with multilingual support, users can switch
                                                        between different languages, making it easier for a global
                                                        audience to navigate. These additions help create a more
                                                        welcoming and user-friendly experience for all visitors.
                                                    </div>



                                                </div>
                                            </div>
                                            <!-- card b 
                                            <div class="col-12 col-md-6 col-xl-8 d-flex">
                                                <div class="card-2">

                                                    <div class="feature-img">
                                                        <img src="../../assets/img/hrms1.png" alt=""
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <div class="features">
        <div class="container">
            <h2 class="card-title c-heading  text-center"> Powerful features to supercharge <br>your
                productivity</h2>
            <section class="cases-tab-wrap ">
                <div class="case-tabs">
                    <ul class="nav nav-tabs cases-tabs" id="myTab" role="tablist">
                        <li class="nav-item active">
                            <a id="tab-myCases" data-bs-target="#pane-myCases" class="nav-link active"
                                data-bs-toggle="tab" role="tab">Brand Essence</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-assignedCases" data-bs-target="#pane-assignedCases" class="nav-link"
                                data-bs-toggle="tab" role="tab">Interactive Elements </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="followedCase" data-bs-toggle="tab" data-bs-target="#followedCases"
                                role="tab">Accessibility & Internationalization</a>
                        </li>

                    </ul>

                    <div id="accordion" class="cases-accordion tab-content" role="tablist">
                        <div id="pane-myCases" class="card tab-pane fade show active" role="tabpanel"
                            aria-labelledby="tab-myCases">
                            <a class="card-header d-flex align-items-center" role="tab" id="heading-A"
                                data-bs-toggle="collapse" data-bs-target="#collapse-myCases" aria-expanded="true"
                                aria-controls="collapse-A">
                                <span class="">
                                    Brand Essence
                                </span>
                                <i class="fa fa-plus ml-auto"> </i>
                            </a>
                            <!-- Note: New place of `data-parent` -->
                            <div id="collapse-myCases" class="collapse display show" data-bs-parent="#accordion"
                                role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body new-card-body">
                                    <div class="section-content">

                                        <div class="row gy-3">
                                            <!-- card-a -->
                                            <div class="col-12 col-md-6 col-xl-5 d-flex">
                                                <div class="card-1">

                                                    <div class="feature-heading">Capturing the Brand Essence</div>
                                                    <div class="feature-desc">
                                                        Maintaining our brand essence in website development is key to
                                                        creating a cohesive and memorable user experience. We make sure
                                                        to use consistent visual elements like our logo, colors, and
                                                        typography that truly reflect who we are. Plus, we ensure the
                                                        website’s tone, messaging, and overall design align with our
                                                        core values and personality. By doing this, we connect better
                                                        with our audience, reinforce brand recognition, and build trust
                                                        and loyalty.
                                                    </div>



                                                </div>
                                            </div>
                                            <!-- card b -->
                                            <div class="col-12 col-md-6 col-xl-7 d-flex">
                                                <div class="card-2">

                                                    <div class="feature-img">
                                                        <img src="../../assets/img/portfolio/web-dev/brand-essence.png"
                                                            alt="" class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pane-assignedCases" class="card tab-pane fade" role="tabpanel"
                            aria-labelledby="tab-assignedCases">
                            <a class="card-header d-flex align-items-center collapsed" role="tab" id="heading-B"
                                data-bs-toggle="collapse" data-bs-target="#collapse-assignedToMe" aria-expanded="false"
                                aria-controls="collapse-B">
                                <span class="">
                                    Interactive Elements
                                </span>
                                <i class="fa fa-plus ml-auto"> </i>
                            </a>
                            <div id="collapse-assignedToMe" class="collapse display" data-bs-parent="#accordion"
                                role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body">
                                    <div class="section-content">

                                        <div class="row gy-3">
                                            <!-- card-a -->
                                            <div class="col-12 col-md-6 col-xl-5 d-flex">
                                                <div class="card-1">

                                                    <div class="feature-heading">It’s All in the Details</div>
                                                    <div class="feature-desc">
                                                        We introduce Clear Call-to-Actions (CTAs) which guide users to
                                                        take actions like signing up or making a purchase with
                                                        strategically placed buttons and links. Features such as
                                                        chatbots, interactive forms, and polls engage users, provide
                                                        real-time assistance, and gather feedback, enhancing the user
                                                        experience and driving conversions.
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card b -->
                                            <div class="col-12 col-md-6 col-xl-7 d-flex">
                                                <div class="card-2">
                                                    <div class="feature-img">
                                                        <img src="../../assets/img/portfolio/web-dev/Interactive-elements.svg"
                                                            alt="" class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="followedCases" class="card tab-pane fade" role="tabpanel"
                            aria-labelledby="followedCase">
                            <a class="card-header d-flex align-items-center collapsed" role="tab" id="heading-B"
                                data-bs-toggle="collapse" data-bs-target="#collapse-followedToMe" aria-expanded="false"
                                aria-controls="collapse-B">
                                <span class="">
                                    Accessibility & Internationalization
                                </span>
                                <i class="fa fa-plus ml-auto"> </i>
                            </a>
                            <div id="collapse-followedToMe" class="collapse display" data-bs-parent="#accordion"
                                role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body">
                                    <div class="section-content">

                                        <div class="row gy-3">
                                            <!-- card-a -->
                                            <div class="col-12 col-md-6 col-xl-5 d-flex">
                                                <div class="card-1">

                                                    <div class="feature-heading">Accessible compliant & Multilingual
                                                        Compatibility</div>
                                                    <div class="feature-desc">
                                                        Accessibility features make sure everyone, including people with
                                                        disabilities, can use the website easily by following guidelines
                                                        like WCAG. Plus, with multilingual support, users can switch
                                                        between different languages, making it easier for a global
                                                        audience to navigate. These additions help create a more
                                                        welcoming and user-friendly experience for all visitors.
                                                    </div>



                                                </div>
                                            </div>
                                            <!-- card b -->
                                            <div class="col-12 col-md-6 col-xl-7 d-flex">
                                                <div class="card-2">

                                                    <div class="feature-img">
                                                        <img src="../../assets/img/portfolio/web-dev/Accessiblity-internationalization.png"
                                                            alt="" class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>



    <section class="elivate">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 pe-lg-4 order-lg-1 d-flex">
                    <div class="ps-lg-5 d-flex flex-column justify-content-center">
                        <h2>
                            Elevating Web Excellence <br>Worldwide
                        </h2>
                        <p class="description me-3">
                            Developing websites using HTML, CSS, and WordPress technologies is our expertise, ensuring a
                            robust foundation for functionality and design flexibility. By leveraging HTML and CSS, we
                            create responsive and visually appealing layouts that adapt seamlessly across all devices.
                            WordPress enhances our sites with its user-friendly content management system, facilitating
                            easy updates and expansions. </p>

                        <p class="description me-3">We prioritize maintaining SEO best practices and incorporating other
                            essential features
                            throughout our development process. Our approach includes optimizing page speed, integrating
                            SEO-friendly URLs and meta tags, and ensuring mobile responsiveness. </p>
                        <p class="description me-3">This holistic strategy ensures our websites not only meet but exceed
                            expectations in
                            performance, usability, and search engine visibility, ultimately enhancing user experience
                            and driving online success.</p>

                    </div>
                </div>
                <!-- <div class="col-6 col-lg-3 d-flex justify-content-center order-lg-2">
                    <div class="img1">
                        <img src="../../assets/img/portfolio/web-dev/elevating-web-1.png" class="img-fluid" />
                    </div>
                </div>
                <div class="col-6 col-lg-3 order-lg-3">
                    <div class="img2">
                        <img src="../../assets/img/portfolio/web-dev/elevating-web-2.png" class="img-fluid" />
                    </div>
                </div> -->
                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <video src="../../assets/img/portfolio/web-dev/web-dev-animation.mp4" class="img-fluid" autoplay
                            muted loop></video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <p class="mb-4">
                <a class="" (click)="navigateToPortfolio()" href="portfolio/4">
                    Learning Management System
                    <img src="assets/img/icons/arrow-right.png" alt="" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>