<main class="theme-color-bg-light-yellow">
    <section class="masthead theme-color-bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5  d-flex align-items-center">
                    <div class="pe-3">
                        <p class="heading">
                            Learning Management System
                        </p>
                        <h1>
                            Empowering Growth: Streamlining Learning Journeys
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Product
                            </span>
                            <span class="badge rounded-pill badge-anarish me-3">
                                Product Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Product development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-7 position-relative d-flex align-items-center justify-content-center">

                    <div class="img-wrapper">
                        <img src="../../assets/img/portfolio/lms/add customer.png" width="912.42px" height="516.404px"
                            class="img-fluid" />
                    </div>
                </div>
            </div>
        </div> <svg class="background-img d-none d-lg-block " width="977" height="730" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-xl-1">
                    <div class="features-content">
                        <h2>
                            Unified Platform for All Your Learning Needs
                        </h2>
                        <p class="description">
                            Design and develop a modern, user-friendly Learning Management System (LMS) to enhance the
                            overall learning experience, streamline administrative tasks, and promote effective online
                            education delivery. </p>
                        <ul class="list-unstyled mt-5">
                            <li>
                                Addressing needs across all age groups </li>
                            <li>
                                Content Management </li>
                            <li>
                                Plug and play micro app </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-xl-2">
                    <div class="">
                        <img src="../../assets/img/portfolio/lms/unified-paltform.png" width="580.226px" height="325px"
                            class="img-fluid" />
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="specifications ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-3 mt-lg-0 d-flex align-items-center">
                    <div class="portfilo-card  d-flex flex-column">

                        <div class="flex-shrink-0  ">
                            <video src="../../assets/img/portfolio/lms/LMS-animation.mp4" autoplay loop muted alt=""
                                class="img-fluid" type="video/mp4"></video>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex pb-3">
                    <div class="list-group p-2">
                        <h2>
                            What We Provide
                        </h2>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Functionality</h5>
                                <p class="mb-1">The core features and capabilities that meet user needs and
                                    expectations.</p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Usability</h5>
                                <p class="mb-1">Intuitive and easy to navigate user interface across various devices
                                    that enhances user experience.</p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Performance</h5>
                                <p class="mb-1">Efficient use of resources and responsiveness to user commands.</p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Security</h5>
                                <p class="mb-1">Protection of data and prevention of unauthorized access or breaches.
                                </p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Maintainability</h5>
                                <p class="mb-1">Ease of updating, fixing bugs, and adapting to changing requirements
                                    over time.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 order-xl-1 d-flex  justify-content-center">
                        <div class="features-content">
                            <h2>
                                Visionary Outlook
                            </h2>
                            <p class="description">
                                We aim to use LMS in providing virtual training and assistance, especially in
                                challenging environments. By leveraging LMS capabilities, organizations can deliver
                                interactive and adaptive learning experiences tailored to meet specific challenges and
                                constraints. Whether in remote locations, hazardous conditions, or during crises,
                                virtual training via LMS ensures continuity of education and skill development. It
                                enables real-time monitoring of progress, assessments, and feedback, fostering
                                continuous improvement. </p>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-xl-2">
                        <div class="">
                            <img src="../../assets/img/portfolio/lms/visionary.png" class="img-fluid" />
                        </div>

                    </div>
                </div>
            </div>
        </section>


    </section>
    <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <p>
                <a class="" (click)="navigateToPortfolio()" href="portfolio/5">
                    Mobile Solutions
                    <img src="assets/img/icons/arrow-right.png" alt="" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>