@import '../../bootstrap-imports';
@import "../root-portfolio/root-portfolio.component.scss";

.masthead {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(xl) {
    padding: 6rem 0;
  }
 
   
  img{
    border-radius: 1rem;  
    position: relative;
    top : 50%;
    left : 0% ; 
    z-index: 2;  
  }

  .background-img {
    position: absolute;
    left: 36%;
    top: -7%;
    z-index: 1;
    // transform: translateY(-50%);
    fill: rgba(0, 122, 255, 0.20);
  }
}  



section {

  p {
    color: #121212;
    
    line-height : 1.6;
    /* 177.778% */
  }
  video{
    max-width: 85%;   
  }

  

  &.last-section {
    p {
      color: #000;
      font-size: 16px;
      font-weight: 600;
     line-height : 1.4;
      /* 137.5% */
      width: fit-content;
      padding-bottom: 12px;

      a {
        color: #000;
        font-size: 30px;
        font-weight: 600;
       line-height : 1.4;
        /* 133.333% */
        padding-bottom: 8px;
        border-bottom: solid 2px #000;
        text-decoration: none;

       
      }
    }

    .next-portfolio {
      background-image: url(../../assets/img/portfolio/lms/next-ms.png);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 250px;
    }
  }
}