@import "../root-portfolio/root-portfolio.component.scss";

.masthead {
  padding: 3rem 0 6rem 0;
  position: relative;
  overflow: hidden;
 
   
  img{
    border-radius: 1rem;  
    position: relative;
    top : 50%;
    left : 0% ; 
    z-index: 2;
  }

  .background-img {
    position: absolute;
    left: 25%;
    top: -7%;
    z-index: 1;
    // transform: translateY(-50%);
    fill: rgba(0, 122, 255, 0.20);
  }
}

.features {
  padding: 6rem 2rem 0 0;
}

section {

  .features-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;

    h2 {
      color: #121212; 
      font-weight: 700;
      line-height: 1.22;
        
    }
 
    .description {
      color: #121212;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
    }

    li {
      padding: .75rem 0;
    }
  }   




  p {
    color: #121212;
    font-size: 18px;
    line-height : 1.4;
    /* 177.778% */
  }

  @media (min-width: 1200px) {
    img {
      margin: 40px 40px 20px;
    }
  }


  .incremental-title {
    color: var(--Primary, #1D2130);
    font-size: 36px;
    font-weight: 700;
   line-height : 1.4;
  }

  .incremental-text {
    color: var(--Primary, #1D2130);
    font-size: 20px;
    font-weight: 400;
   line-height : 1.4;
  }

  .incremental {
    padding: 2rem;

    .carousel {
      .carousel-inner {
        padding: 1rem;
        border-radius: 1rem;

      }
    }
  }

  .list-group {
    display: flex;
    gap: 1.5rem;

    .list-group-item {


      background-color: #fffbf4;
      border: none;

      h5 {
        color: var(--label-primary, #000);
        font-size: 24px;
        font-weight: 600;
       line-height : 1.4;
      }

      p {
        color: var(--label-primary, #000);
        font-size: 16px;
        font-weight: 400;
      line-height : 1.6;
      }
    }


  }

  &.last-section {
    p {
      color: #000;
      font-size: 22px;
      font-weight: 600;
     line-height : 1.4;
      /* 137.5% */
      width: fit-content;
      padding-bottom: 12px;

      a {
        color: #000;
        font-size: 30px;
        font-weight: 600;
       line-height : 1.4;
        /* 133.333% */
        padding-bottom: 8px;
        border-bottom: solid 2px #000;
        text-decoration: none;

       
      }
    }

    .next-portfolio {
      background-image: url(../../assets/img/portfolio/lms/next-ms.png);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 250px;
    }
  }
}