<section id="clients" class="pt-5 pb-5 container page-section">
   <div class="text-center">
    <h2 class="section-heading">Companies we Work with</h2>
   </div>

   <div class="mt-4">
   <div class="mb-5 d-flex justify-content-evenly">
    <img src="assets/img/mobilise.svg" alt="">
    <img src="assets/img/path.svg" alt="">
    <img src="assets/img/rentikle.svg" alt="">
    <img src="assets/img/genpact.svg" alt="">
   </div>
   <div class="d-flex justify-content-evenly">
    <img src="assets/img/iotfy.svg" alt="">
    <img src="assets/img/4u-stem.svg" alt="">
    <img src="assets/img/amc.svg" alt="">
   </div>
   </div>
</section>  