<section class="page-section mt-4 mb-5" id="recommendations">
    <div class="container">
        <div class="text-center mb-5">
            <h3 class="section-solution mb-4">OUR TESTIMONIALS</h3>
            <h2 class="section-heading mb-3">What Customers Saying</h2>
            <h3 class="section-subheading">The stunning results our customers have experienced</h3>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="assets/img/testimonial-img.png" alt="">
                    <div>
                        <h5 class="name">Alex Johnson</h5>
                        <p class="designation">Chief Marketing Officer (CMO)</p>
                    </div>
                </div>

                <div class="info p-3">
                    <img src="assets/img/comma.svg" alt="">
                    <p class="mb-0 details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sunt sapiente dolorem
                        repellendus soluta quasi inventore libero. Eaque ab quod nisi, itaque dolorum inventore officiis
                        iste voluptate quam cum harum.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="assets/img/testimonial-img.png" alt="">
                    <div>
                        <h5 class="name">Alex Johnson</h5>
                        <p class="designation">Chief Marketing Officer (CMO)</p>
                    </div>
                </div>

                <div class="info p-3">
                    <img src="assets/img/comma.svg" alt="">
                    <p class="mb-0 details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sunt sapiente dolorem
                        repellendus soluta quasi inventore libero. Eaque ab quod nisi, itaque dolorum inventore officiis
                        iste voluptate quam cum harum.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="assets/img/testimonial-img.png" alt="">
                    <div>
                        <h5 class="name">Alex Johnson</h5>
                        <p class="designation">Chief Marketing Officer (CMO)</p>
                    </div>
                </div>

                <div class="info p-3">
                    <img src="assets/img/comma.svg" alt="">
                    <p class="mb-0 details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sunt sapiente dolorem
                        repellendus soluta quasi inventore libero. Eaque ab quod nisi, itaque dolorum inventore officiis
                        iste voluptate quam cum harum.</p>
                </div>
            </div>
        </div>
    </div>
</section>