@import "../../bootstrap-imports.scss";

.portfolio-wrapper {
  padding-top: 66px;
}

.masthead {
  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 540px;
    img {
      border: solid #000 4px;
    }
  }
  .heading {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 12px;
    border-bottom: solid 2px #000;
    width: fit-content;
    
  }
}
section {
  padding-bottom: 0rem;
  &:last-child {
    padding-bottom: 3rem;
  }
  &.features {
    ul {
      li {
        color: #121212;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 12px;
        @include media-breakpoint-up(xl) {
          margin-bottom: 24px;
          font-size: 16px;
        }
      }
    }
    .features-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media-breakpoint-up(xl) {
        h2 {
          line-height: 1.22; 
        }
      }
      @include media-breakpoint-up(xxl) {
        width: 88%;
      }
    }
  }
  .description {
    color: var(--Primary, #121212);
    font-size: 14px;
    line-height: 1.7;
    margin: 12px 0;
    @include media-breakpoint-up(xl) {
      font-size: 20px;
      line-height: 1.4;
      margin: 24px 0;
    }
  }
}