

.tab:hover{
    cursor: pointer;
    color: #cca000;

}



@font-face {
  font-family: "manrope";
  src: url("../assets/fonts/Manrope/static/Manrope-Regular.ttf"), formate("truetype");
}
@font-face {
  font-family: "play-times";
  src: url("../assets/fonts/Playwrite_NG_Modern/static/PlaywriteNGModern-Regular.ttf");
}


@media (min-width: 992px){

#mainNav {

    // padding-top: 1.5rem;
    // padding-bottom: 1.5rem;
    border: none;
    // background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 3rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 3rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 2.5rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

.navbar-brand img {
    height: 3rem;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}

.tab{
  color: white;
}


}

.navB{
background-color: blue;
}

.bgColor {
background-color: transparent !important;
}
.bgColorButton {
border-radius: 1.5rem;
}

