<section id="software-service" class="mt-5 container page-section">
    <div class="row">
        <div class="col-6">
           <div class="container">
            <div class="mt-4">
                <h3 class="section-solution mb-4">Software Development Services</h3>
                <h2 class="heading mb-4">Helping you all the way</h2>
                <p class="description">Accelerate your tech projects with outsourced development. Flexible engagement models, tailored to you.</p>

                <div class="d-flex align-items-center mb-4">
                    <img src="assets/img/staff.svg" alt="">
                    <div class="ms-2">
                        <h5 class="mb-1 staff">Staff Augmentation</h5>
                        <p class="mb-0 description">Our software developers in your team.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <img src="assets/img/dedicated.svg" alt="">
                    <div class="ms-2">
                        <h5 class="mb-1 staff">Staff Augmentation</h5>
                        <p class="mb-0 description">Our software developers in your team.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <img src="assets/img/software-outsource.svg" alt="">
                    <div class="ms-2">
                        <h5 class="mb-1 staff">Staff Augmentation</h5>
                        <p class="mb-0 description">Our software developers in your team.</p>
                    </div>
                </div>
            </div>
           </div>
        </div>

        <div class="col-6">
            <img src="assets/img/software-service-img.svg" alt="">
        </div>
    </div>

   
</section>  