<main class="theme-color-bg-light-yellow">
    <section class="masthead ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5  d-flex align-items-center">
                    <div class="pe-3">
                        <p class="heading">
                            Digital Marketing
                        </p>
                        <h1>
                            Effortlessly Manage Interactions and Data for Enhanced Customer Engagement </h1>
                        <p class="mt-4">

                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Front End development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-7 position-relative d-flex align-items-center justify-content-center">

                    <div class="img-wrapper">
                        <img src="../../assets/img/portfolio/lms/add customer.png" 
                            class="img-fluid" />
                    </div>
                </div>
            </div>
        </div> <svg class="background-img d-none d-lg-block " width="977" height="730" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 order-xl-1 d-flex align-items-center justify-content-center">
                    <img src="../../assets/img/portfolio/dm/comming-soon.png" alt="">
                </div>

            </div>
        </div>
    </section>

    <!-- <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <p>
                <a class="" (click)="navigateToPortfolio()" href="portfolio/4">
                    Mobile Solutions
                    <img src="assets/img/icons/arrow-right.png" alt="" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            
        </div>
    </section> -->
</main>