<main class="theme-color-bg-light-yellow">
    <section class="masthead theme-color-bg-yellow">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5 d-flex align-items-center">
                    <div class="pe-3">
                        <p class="heading">
                            HR Management System
                        </p>
                        <h1>
                            Optimize Workforce Management Empowering HR Management
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Front end development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-7 position-relative d-flex align-items-center justify-content-center">
                    <div class="img-wrapper">
                        <img src="../../assets/img/portfolio/hrms/dashboard.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-lg-block " width="977" height="660" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-xl-2">
                    <div class="ps-lg-5">
                        <h2>
                            Your All-in-One HR Management Solution
                        </h2>
                        <p class="description">
                            Designing the interface for HRMS involves creating intuitive and user-friendly tools
                            that align with strategic workforce development goals of the organization. Our interface
                            enabled managers to effortlessly identify high-potential employees, provide easy access
                            to personalized development programs, and streamline succession planning processes </p>
                        <ul class="list-unstyled mt-5">
                            <li>
                                Multilingual App for a Global Audience
                            </li>
                            <li>
                                Accessibility Compliant for All Users
                            </li>
                            <li>
                                Engaging User Experiences
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-xl-1">
                    <div class="">
                        <img src="../../assets/img/portfolio/hrms/all_in_one_hrms.png" class="img-fluid" />
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="specifications ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex pb-3">
                    <div class="list-group p-2">
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Self-serve onboarding</h5>
                                <p class="mb-1">Self-serve onboarding process empowers new users to get started quickly
                                    and easily, with minimal assistance needed. This streamlined approach ensures a
                                    seamless and efficient transition, enhancing user satisfaction from day one.</p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Professional Wall</h5>
                                <p class="mb-1">This interactive platform encourages employee participation and
                                    strengthens connections within the organization. It serves as a visual
                                    representation of company culture, fostering communication, collaboration, and
                                    morale among team members.</p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Manage documents</h5>
                                <p class="mb-1">Roles-based document management in HRMS ensures that employees have
                                    access to relevant documents based on their specific roles and permissions.</p>
                            </div>
                        </div>
                        <div class="list-group-item">

                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-1">Analytics & Reporting</h5>
                                <p class="mb-1">Reports and dashboards provide real-time insights and analytics, helping
                                    managers make informed decisions quickly. They offer a comprehensive view of key
                                    metrics, trends, and performance indicators, enhancing strategic planning and
                                    operational efficiency.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0 d-flex align-items-center">
                    <div class="portfilo-card  d-flex flex-column">

                        <div class="flex-shrink-0  ">
                            <video src="../../assets/img/portfolio/hrms/hrms_animation.mp4" autoplay loop muted alt=""
                                class="img-fluid" type="video/mp4"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="incremental-design ">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-center   ">
                    <div class="img1">
                        <img src="../../assets/img/portfolio/hrms/incremental-design.png" class="img-fluid" />
                    </div>
                    

                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center">
                    <div class="incremental">
                        <div class="incremental-title">Incremental Design & Feedback</div>
                        <div class="incremental-text">We followed an iterative approach wherein system was developed in
                            small, manageable stages or increments. Each increment typically adds new features or
                            functionality, building upon the previous work. This method allows for continuous feedback,
                            adaptation to changing requirements, and early delivery of usable components, reducing risks
                            and improving overall quality and efficiency.</div>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <p>
                <a class="" (click)="navigateToPortfolio()" href="portfolio/3">
                    Website Design and Development
                    <img src="assets/img/icons/arrow-right.png" alt="" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>