<main class="theme-color-bg-light-yellow">
    <section class="masthead ">
        <div class="container">
            <div class="row row-y-gap">
                <div class="col-12 col-lg-6 col-xxl-5 d-flex align-items-center pe-lg-5">
                    <div class="pe-lg-3">
                        <p class="heading">
                            CRM System
                        </p>
                        <h1 class="mt-3">
                            Effortlessly Manage Interactions and Data for Enhanced Customer Engagement
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Front end development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-7 position-relative mt-3 mt-lg-0">
                    <div class="img-wrapper">
                        <img src="assets/img/portfolio/crms/masthead.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-xl-block" width="977" height="730" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-2 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2>
                            Streamlining Complex Processes for Enhanced Efficiency
                        </h2>
                        <p class="description">
                            We designed an interactive CRMS communications-centered product, highlighting its advantages
                            and educating potential enterprise buyers. This product serves as the primary tool for the
                            customer care executives to lock tickets and provide support to the end customers.
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                Consistency, Simplicity and Clarity
                            </li>
                            <li>
                                Navigation and Information Architecture
                            </li>
                            <li>
                                Tailored User Experiences
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="">
                        <img src="assets/img/portfolio/crms/features-img.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="supported-modules">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-1 d-flex justify-content-center mt-3 mt-lg-0">
                    <div class="">
                        <h2 class="mb-4">
                            Supported Modules
                        </h2>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <h3> Customer Service and Support </h3>
                                <p> The customer service and support module includes a ticketing system to manage
                                    support tickets, a searchable Knowledge Base for self-service, and Live Chat and
                                    Chatbots for real-time support.</p>
                            </li>
                            <li class="mb-3">
                                <h3> Inventory Management </h3>
                                <p> The CRM Inventory Management module includes features for tracking and managing
                                    stock levels, automating reorder processes and provide real-time inventory updates
                                    and analytics.</p>
                            </li>
                            <li class="mb-3">
                                <h3> Sales Management </h3>
                                <p> The sales management module includes Lead Management to track leads and sales
                                    progress. It also supports sales Forecasting to predict future sales.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <video src="assets/img/portfolio/crms/module.mp4" class="img-fluid" autoplay muted
                            loop></video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-6 order-lg-2 d-flex">
                    <div class="ps-lg-5 d-flex flex-column justify-content-center">
                        <h2>
                            Tailored User Experiences
                        </h2>
                        <p class="description me-3">
                            Providing personalized experience that enhances user satisfaction and engagement, we endured
                            every user interacts with the platform in a way that is most beneficial and intuitive for
                            them.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/portfolio/crms/simplified.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 last-section">
        <div class="container pading">
            <p class="mb-2">
                Next Case Study
            </p>
            <p class="mb-4">
                <a class="" href="portfolio/2">
                    HRMS
                    <img src="assets/img/icons/arrow-right.png" alt="" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>