@import '../../bootstrap-imports';
@import "../root-portfolio/root-portfolio.component.scss";

.masthead {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  background-color: #C4B1F9;
  @include media-breakpoint-up(xl) {
    padding: 6rem 0;
  }

  .background-img {
    position: absolute;
    left: 36%;
    top: -10%;
    z-index: 1;
    // transform: translateY(-50%);
    fill: #8468D1;
  }
}

section {
  &.supported-modules {
    color:#121212;
    p {
      line-height: 1.6;
    }
    video {
      max-width: 70%;
    }
  }

  &.last-section {
    p {
      color: #000;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.6;
      /* 137.5% */
      padding-bottom: 12px;

      a {
        color: #000;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.4;
        /* 133.333% */
        padding-bottom: 8px;
        border-bottom: solid 2px #000;
        text-decoration: none;


      }
    }

    .next-portfolio {
      background-image: url(../../assets/img/portfolio/crms/next-hrms.png);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 250px;
    }
  }
}